Great work 🎊🍾🍀

Here is the improvement, publication and dissemination checklist:

- [ ] Update output.bib, link PDF
- [ ] Create a post for the handbook, website, etc. (TODO : link process)
- [ ] Add to ORCID, ....